
@use "../functions/functions" as internalFunctions;

@mixin accordion($bg, $transition, $max-height-transition, $trigger-font-size, $header-font-size, $header-color) {

    .accordion-default-trigger,
    .accordion-default-header {
        margin-bottom: internalFunctions.to-rem(13px);
        padding-right: internalFunctions.to-rem(55px);
    }

    .accordion-default-trigger {
        cursor: pointer;
        font-size: $trigger-font-size;

        &:before {
            background: $bg;
            transition: $transition;
            position: relative;
            display: inline-block;
            content: '';
            top: internalFunctions.to-rem(3px);
            height: internalFunctions.to-rem(15px);
            width: internalFunctions.to-rem(15px);
            margin-right: internalFunctions.to-rem(5px);
            transform: rotate(-90deg);
        }

        &.active:before {
            transform: rotate(0deg);
        }
    }

    .accordion-default-header {
        padding-left: internalFunctions.to-rem(40px);
        font-size: $header-font-size;
        color: $header-color;
    }

    .accordion-input {
        position: absolute;
        left: -999em;
        visibility: hidden;
    }

    input:checked + .accordion-default {
        max-height: internalFunctions.to-rem(600px);
        transition: $max-height-transition;
    }

    .accordion-default {
        max-height: 0;
        overflow: hidden;
        transition: $max-height-transition;
    }
}
