
@use "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@use "../functions/functions" as internalFunctions;

@mixin addition($bg, $grid-gutter-width) {
    .result-container .addition {
        background: $bg;
        margin: 0 calc(-#{$grid-gutter-width} / 2);
        padding-top: internalFunctions.to-rem(40px);
        padding-bottom: internalFunctions.to-rem(40px);
    }

    @include breakpoints.media-breakpoint-up(md) {

        .result-container .addition {
            margin-left: internalFunctions.to-rem(-50px);
            margin-right: internalFunctions.to-rem(-50px);
        }
    }

    @include breakpoints.media-breakpoint-up(lg) {

        .result-container .addition {
            margin-left: internalFunctions.to-rem(-90px);
            margin-right: internalFunctions.to-rem(-90px);
        }
    }
}
