
@use "../functions/functions" as internalFunctions;

@mixin circularChart($stroke-width, $secondary-stroke, $secondary-stroke-linecap, $secondary-stroke-bg, $primary-stroke, $primary-stroke-linecap, $primary-stroke-bg, $animation-name) {
    .circular-chart {
        display: block;
        margin: internalFunctions.to-rem(10px) auto;
        max-width: internalFunctions.to-rem(250px);
        max-height: internalFunctions.to-rem(250px);

        .circle-bg,
        .circle {
            stroke-width: $stroke-width;
        }

        .circle-bg {
            &.secondary {
                stroke: $secondary-stroke;
                stroke-linecap: $secondary-stroke-linecap;
            }

            &.secondary-bg {
                stroke: $secondary-stroke-bg;
            }

            &.primary {
                stroke: $primary-stroke;
                stroke-linecap: $primary-stroke-linecap;
            }

            &.primary-bg {
                stroke: $primary-stroke-bg;
            }
        }

        .circle {
            &.animate {
                animation: $animation-name 1s ease-out forwards;
            }
        }

        .circle-bg,
        .circle {
            fill: none;
        }
    }

    @keyframes #{$animation-name} {
        0% {
            stroke-dasharray: 0 100;
        }
    }
}
