
@use "../functions/functions" as internalFunctions;

@mixin progressChart($bg, $transition, $current-rate-bg, $current-rate-color, $current-rate-less-bg, $current-rate-less-color, $best-rate-bg, $best-rate-color, $font-size) {
    .result-container {
        // progress chart
        .progress-chart-container {
            width: calc(100% - #{internalFunctions.to-rem(55px)});
            float: left;

            .progress-chart {
                position: relative;
                width: 100%;
                height: internalFunctions.to-rem(5px);
                border-radius: internalFunctions.to-rem(2.5px);
                background-color: $bg;

                div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: internalFunctions.to-rem(5px);
                    border-radius: internalFunctions.to-rem(2.5px);
                    transition: $transition;

                    &.non-width {
                        width: 0 !important;
                    }
                }
            }

            & + .progress-chart-text {
                width: internalFunctions.to-rem(55px);
                margin-top: internalFunctions.to-rem(-11px);
                margin-bottom: internalFunctions.to-rem(8px);
                float: right;
                text-align: right;
                font-size: $font-size;
            }

            &.progress-chart-current-rate {
                .progress-chart div {
                    background-color: $current-rate-bg;
                }

                & + .progress-chart-text {
                    color: $current-rate-color;
                }

                &.less {
                    .progress-chart div {
                        background-color: $current-rate-less-bg;
                    }

                    & + .progress-chart-text {
                        color: $current-rate-less-color;
                    }
                }
            }

            &.progress-chart-best-rate {
                .progress-chart div {
                    background-color: $best-rate-bg;
                }

                & + .progress-chart-text {
                    color: $best-rate-color;
                }
            }
        }
    }
};
