
@use "../functions/functions" as internalFunctions;

@mixin result($link-color, $result-color, $result-bg, $hr-color) {

    .default-link {
        color: $link-color;
        text-decoration: underline;
    }

    .result-container {
        color: $result-color;
        background: $result-bg;
        padding-top: internalFunctions.to-rem(10px);
        padding-bottom: internalFunctions.to-rem(10px);

        hr {
            border-color: $hr-color;
            margin-bottom: internalFunctions.to-rem(35px);
        }

        .note-rate {
            .note-rate-container {
                max-width: internalFunctions.to-rem(300px);
                margin-left: auto;
                margin-right: auto;
            }
        }

        // progress chart

        .criterion-row + .criterion-row,
        .criterion-row + .accordion-default + .criterion-row,
        .criterion-row + .accordion-input + .accordion-default + .criterion-row,
        .accordion-default > .criterion-row {
            margin-top: internalFunctions.to-rem(15px);
        }
    }

    // Circle

    .flex-wrapper {
        max-width: internalFunctions.to-rem(140px);
        height: auto;
        margin: 0 auto;
        position: relative;
    }

    .single-chart {
        max-width: 100%;
        justify-content: space-around;
        position: relative;
    }
}
