/* fixes for accordeon to work work with <details> */
.accordion-item summary {
    display: flex;
}

.accordion-item:not([open]) .accordion-button {
    background-color: var(--bs-accordion-bg);
}

.accordion-item:not([open]):last-of-type .accordion-button:not(.col-md-5) {
    border-end-end-radius: var(--bs-border-radius);
    border-end-start-radius: var(--bs-border-radius);
}

.accordion-item:not([open]) .accordion-button:not(.col-md-5)::after {
    transform: unset;
    background-image: var(--bs-accordion-btn-active-icon);
}

.accordion-item[open] .accordion-button:not(.col-md-5)::after {
    transform: var(--bs-accordion-btn-icon-transform);
    background-image: var(--bs-accordion-btn-icon);
}

.accordion-button.col-md-5 {
    box-shadow: none;

    .accordion-item:not([open]):last-of-type & {
        border-end-start-radius: var(--bs-border-radius);
    }

    @media (min-width: 768px) {
        inline-size: 41.66667%;
    }
}
