@use "sass:math";

// Variables
@use "../../fonts/comfortaa";
@use "../../mixins/customize";
@use "../../functions/functions" as internalFunctions;
@use "variables";
@use "../../../../node_modules/bootstrap/scss/bootstrap" with (
    $grid-breakpoints: variables.$grid-breakpoints,
    $container-max-widths: variables.$container-max-widths,
    $orange: variables.$orange,
    $yellow: variables.$yellow,
    $green: variables.$green,
    $primary: variables.$primary,
    $secondary: variables.$secondary,
    $font-family-sans-serif: variables.$font-family-sans-serif,
    $font-family-base: variables.$font-family-base,
    $font-weight-light: variables.$font-weight-light,
    $font-weight-bold: variables.$font-weight-bold,
    $white: variables.$white,
    $gray-100: variables.$gray-1,
    $gray-200: variables.$gray-2,
    $gray-300: variables.$gray-3,
    $black: variables.$black,
);
@include customize.customize(
    $body-color: variables.$white,
    $headline-primary-color: variables.$primary,
    $headline-secondary-color: variables.$gray-3,
    $headline-primary-font-size: internalFunctions.to-rem(24px),
    $headline-secondary-font-size: internalFunctions.to-rem(14px),
);

