
@use "../../../../node_modules/bootstrap/scss/functions";
@use "../../functions/functions" as internalFunctions;

// bs variables
$font-family-sans-serif: "Roboto", sans-serif;
$font-family-base:       $font-family-sans-serif;
$font-weight-bold:       700;

$grid-breakpoints: (
    xs: 0,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1240px
);

// custom variables
$white:  #ffffff;
$gray-1: #f9f9f9;
$gray-2: #dfe0df;
$gray-3: #c8c9c8;
$gray-4: #9c9c9c;
$gray-5: #6f706f;
$gray-6: #424342;
$gray-7: #323232;
$black:  #000000;

$orange: #f0b72c;

$primary:   #ad8035;
$hover:     #906a2c;
$secondary: #006b60;

$result-container: (
    color:    $gray-7,
    bg:       $white,
    hr-color: $gray-4
);

$result-headline: (
    font-size:   internalFunctions.to-rem(14px),
    font-weight: 600
);

$capacity-container: (
    font-size:          internalFunctions.to-rem(18px),
    color:              $orange,
    current-rate-color: $gray-3,
    best-rate-color:    $primary
);

$progress-chart: (
    bg:                      $gray-1,
    transition:              width 1s ease-out 1s,
    current-rate-bg:         $orange,
    current-rate-color:      $gray-4,
    current-rate-less-bg:    $orange,
    current-rate-less-color: $orange,
    best-rate-bg:            $secondary,
    best-rate-color:         $secondary,
    font-size:               internalFunctions.to-rem(14px)
);

$addition: (
    bg: $white
);

$circle-chart: (
    stroke-width:             1.5,
    secondary-stroke:         $orange,
    secondary-stroke-linecap: round,
    secondary-bg-stroke:      $gray-2,
    primary-stroke:           $secondary,
    primary-stroke-linecap:   round,
    primary-bg-stroke:        $gray-2,
    animation-name:           progress
);

$percentage: (
    font-size:       internalFunctions.to-rem(36px),
    text-align:      center,
    span-font-size:  internalFunctions.to-rem(20px),
    secondary-color: $gray-2,
    primary-color:   $primary
);

$accordion: (
    bg:                  functions.str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' style='fill: #{$black}' width='1024' height='1024' viewBox='0 0 1024 1024'%3E%3Cpath d='M0 285l512 411.33 512-411v42l-512 411.67-512-411.66z'%3E%3C/path%3E%3C/svg%3E"), "#", "%23") no-repeat center / contain,
    transition:          transform ease .2s,
    max-height-transion: max-height ease .4s,
    trigger-font-size:   internalFunctions.to-rem(14px),
    header-font-size:    internalFunctions.to-rem(14px),
    header-color:        $gray-5
);

$layer: (
    type-icon-bg:              functions.str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024'%3E%3Cpath d='M447.822 449.536h128v319.488h-128v-319.488zM447.822 257.706h128v128h-128v-128zM511.993 0c-282.767 0.004-511.993 229.233-511.993 512 0 282.77 229.23 512 512 512s512-229.23 512-512c0-0.96-0.003-1.92-0.008-2.879-1.549-281.445-230.182-509.121-511.992-509.121-0.003 0-0.005 0-0.008 0zM511.993 943.445c-241.297 0-436.907-195.61-436.907-436.907s195.61-436.907 436.907-436.907c241.297 0 436.907 195.61 436.907 436.907s-195.61 436.907-436.907 436.907z' fill='#{$gray-4}' %3E%3C/path%3E%3C/svg%3E"), "#", "%23") no-repeat center / contain,
    type-text-color:           $primary,
    type-text-text-decoration: underline,
    layer-bg:                  rgba($black, .4),
    header-border:             1px solid $gray-2,
    text-weight:               $font-weight-bold,
    content-font-size:         internalFunctions.to-rem(14px),
    close-transition-color:    $white,
    close-transition-level:    5%,
    close-transition-bg:       $primary,
    close-size:                internalFunctions.to-rem(27px),
    headline-primary-color:    $primary,
    headline-secondary-color:  $secondary,
    list-color:                $gray-6
);
