@use "sass:map";
@use "sass:string";
@use "../../../node_modules/bootstrap/scss/functions";

// Global Functions

// Function for converting a px based font-size to rem.
@function to-rem($size) {
    $remValue: calc($size / 16);
    $newRemValue: functions.str-replace(#{$remValue}, 'px', 'rem');

    @return $newRemValue;
}

@function rgba-blend($fore, $back: #ffffff) {
    $ored: ((1 - alpha($fore)) * red($back) ) + (alpha($fore) * red($fore));
    $ogreen: ((1 - alpha($fore)) * green($back) ) + (alpha($fore) * green($fore));
    $oblue: ((1 - alpha($fore)) * blue($back) ) + (alpha($fore) * blue($fore));
    @return rgb($ored, $ogreen, $oblue);
}
