@use "sass:math";

// Variables
@use "../../fonts/pt_sans";
@use "../../mixins/customize";
@use "../../functions/functions" as internalFunctions;
@use "variables";
@use "../../../../node_modules/bootstrap/scss/bootstrap" with (
    $grid-breakpoints: variables.$grid-breakpoints,
    $container-max-widths: variables.$container-max-widths,
    $orange: variables.$orange,
    $primary: variables.$primary,
    $danger: variables.$danger,
    $font-family-sans-serif: variables.$font-family-sans-serif,
    $font-family-base: variables.$font-family-base,
    $font-weight-bold: variables.$font-weight-bold,
    $white: variables.$white,
    $gray-100: variables.$gray-1,
    $gray-200: variables.$gray-2,
    $gray-300: variables.$gray-3,
    $gray-400: variables.$gray-4,
    $gray-500: variables.$gray-5,
    $black: variables.$black,
);
@include customize.customize(
    $body-color: variables.$gray-1,
    $headline-primary-color: variables.$blue-default,
    $headline-secondary-color: variables.$gray-4,
    $headline-primary-font-size: internalFunctions.to-rem(24px),
    $headline-secondary-font-size: internalFunctions.to-rem(14px),
    $default-link: true,
    $default-link-color: variables.$blue-default,
    $default-link-hover-color: variables.$blue-hover,
);

