<?php
/**
 * This file is part of the mimmi20/mezzio-sample-project package.
 *
 * Copyright (c) 2021, Thomas Mueller <mimmi20@live.de>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

declare(strict_types = 1);

/*
 * aufgrund des ACL-Aufbaus sollte die Ressource dem Controller und das Privileg der Action entsprechen
 * Menüs sollten kein sinnvolles Linkziel haben, da diese ohnehin nicht anklickbar sind
 */

return [
    'navigation' => [
        'top' => [
            'atb' => [
                'label' => 'ATB',
                'title' => 'ATB',
                'route' => 'atb',
                'id' => 'atb-id',
                'class' => 'btn-secondary',
                'text_domain' => 'navigation',
                'fragment' => 'atb-start',
            ],
            'login' => [
                'id' => 'login',
                'label' => 'Anmelden',
                'title' => 'Anmelden',
                'uri' => '#',
                // 'target' => '_blank',
                'class' => 'btn-primary',
            ],
        ],
        'bottom' => [
            'impressum' => [
                'label' => 'Impressum',
                'title' => 'Impressum',
                'route' => 'info',
                'params' => ['id' => 'impressum'],
                // 'target' => '_blank',
                'id' => 'impressum-id',
                'class' => 'btn-secondary',
            ],
        ],
    ],
];
